* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Outfit", sans-serif;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 250px;
    align-content: center;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }

  div img {
    padding: 0.7rem;
    width: 15.5rem;
    height: 15rem;
    border-radius: 20px;
  }

  div h4 {
    margin: 0 1.5rem;
    margin-bottom: 0.5rem;
  }

  div p {
    font-size: 0.7rem;
    color: hsl(216, 15%, 48%);
    margin: 0 2rem;
    margin-bottom: 2rem;
  }